<div class="header">
  <div class="container">
    <h1>threadly</h1>
    <p>Twitter clone written in Rails and jQuery</p>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="twit-form">
      <form>
        <input type="text" name="body" id="body-text">
      </form>
      <a  class="btn disabled" id="submit">post</a>
    </div>
    <ul class="comments">
      </ul>
  </div>
</div>